<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.yunbaokeji.share">

    <application
        android:name="net.yunbaokeji.ShareApp"
        android:theme="@style/AppTheme">
        <activity android:name="net.yunbaokeji.ShareActivity"></activity>
    </application>

</manifest>